Source: pulse2-davos-client
Section: admin
Priority: extra
Maintainer: Nicolas Lécureuil <nicolas.lecureuil@siveo.net>
Build-Depends: debhelper (>= 5.0.37.2)
Standards-Version: 3.9.4
Homepage: https://medulla-tech.io

Package: pulse2-davos-client
Architecture: all
Depends: ${misc:Depends}
Description: Medulla 2 Davos imaging client
 Medulla 2 Davos imaging client based on Clonezilla permit to create
 and restore disk images with advanced mastering functionnalities.
 .
 This package is a part of Medulla solution.
